* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #eeeeee;
  font-family: "Poppins", sans-serif;
}
body main .iconoWhatsapp {
  position: fixed;
  bottom: 20px;
  right: 25px;
}

.colorLetra {
  color: #425059;
}

.letraH1 {
  font-size: 1.75rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.letraH2 {
  font-size: 1.2rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
  padding: 10px;
}

.letraH3 {
  font-size: 1rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
  font-weight: bold;
}

.letraH4 {
  font-size: 0.8rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
}

.letraH5 {
  font-size: 1.5rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

body main .contenedorindex {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0.5fr 1fr 0.5fr 1.5fr;
  grid-auto-columns: s1fr;
  gap: 5px;
  grid-auto-flow: row;
  grid-template-areas: "titulo titulo titulo" "dato1 dato2 dato3" "subtitulo subtitulo subtitulo" "opinion opinion opinion";
}
body main .contenedorindex .titulo {
  grid-area: titulo;
}
body main .contenedorindex .dato1, body main .contenedorindex .dato3, body main .contenedorindex .dato2 {
  grid-area: dato1;
  background-color: #fdfdfd;
  border-radius: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
  transition: all 0.5s ease;
}
body main .contenedorindex .dato1:hover, body main .contenedorindex .dato3:hover, body main .contenedorindex .dato2:hover {
  transform: scale(1.1, 1.1);
}
body main .contenedorindex .dato2 {
  grid-area: dato2;
}
body main .contenedorindex .dato3 {
  grid-area: dato3;
}
body main .contenedorindex .subtitulo {
  grid-area: subtitulo;
}
body main .contenedorindex .opinion {
  grid-area: opinion;
  width: auto;
  height: auto;
  background-color: #fdfdfd;
  border-radius: 1rem;
  margin: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
body main .contenedorindex .opinion .fotoOpinion .fotoComentario {
  margin: 20px;
  width: 60%;
  border-radius: 200px;
}
body main .contenedorindex .opinion .parrafoComent {
  padding: 1rem;
  line-height: 1.5;
  color: #425059;
  font-family: "Montserrat", sans-serif;
  font-style: italic;
}

body header .barraNav {
  background: radial-gradient(circle, rgb(219, 218, 178) 2%, rgb(200, 200, 149) 79%);
  font-size: 90%;
}
body header .barraNav .container-fluid .navbar-brand .logoWok {
  width: 120px;
  padding: 10px;
}
body header .barraNav .collapse .navbar-nav .menuPaginas:hover {
  background-color: #eeeeee;
  border-radius: 8%;
}

footer {
  background: rgb(219, 218, 178);
  background: radial-gradient(circle, rgb(219, 218, 178) 2%, rgb(200, 200, 149) 79%);
  width: 100%;
  font-family: "Poppins", sans-serif;
  text-align: center;
  display: flex;
  justify-content: space-between;
}
footer .textoFooter {
  font-size: 0.8rem;
  color: #425059;
  font-family: "Poppins", sans-serif;
  margin: 20px;
  padding: 10px;
}
footer .iconosFooter {
  display: flex;
  justify-content: center;
  margin: 10px;
  padding: 10px;
  gap: 20px;
}
footer .iconosFooter .iconoInstagram, footer .iconosFooter .iconoWhats, footer .iconosFooter .iconoEmail {
  width: 24px;
  height: 24px;
}
body main .container .row .textoHistoriauno {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: right;
}
body main .container .row .imgHistoria {
  margin-top: 3rem;
  width: 500px;
  transition: all 0.5s ease;
}
body main .container .row .imgHistoria:hover {
  transform: scale(1.1, 1.1);
}
body main .container .row .textoHistoriados {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: left;
}

body main .contenedorServicios {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 0.6fr 1fr 0.7fr 0.7fr 0.6fr 1.4fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "tituloServicios tituloServicios tituloServicios tituloServicios" "servicios1 servicios2 servicios3 servicios4" "img1servicios img1servicios img2servicios img2servicios" "img1servicios img1servicios img3servicios img3servicios" "tituloClientes tituloClientes tituloClientes tituloClientes" "carreteClientes carreteClientes carreteClientes carreteClientes";
}
body main .contenedorServicios .tituloServicios {
  grid-area: tituloServicios;
}
body main .contenedorServicios .img2servicios {
  grid-area: img2servicios;
}
body main .contenedorServicios .img3servicios {
  grid-area: img3servicios;
}
body main .contenedorServicios .img1servicios {
  grid-area: img1servicios;
  border-radius: 1rem;
}
body main .contenedorServicios .servicios1 {
  grid-area: servicios1;
  transition: all 0.5s ease;
}
body main .contenedorServicios .servicios1:hover {
  transform: scale(1.1, 1.1);
}
body main .contenedorServicios .servicios2 {
  grid-area: servicios2;
  transition: all 0.5s ease;
}
body main .contenedorServicios .servicios2:hover {
  transform: scale(1.1, 1.1);
}
body main .contenedorServicios .servicios3 {
  grid-area: servicios3;
  transition: all 0.5s ease;
}
body main .contenedorServicios .servicios3:hover {
  transform: scale(1.1, 1.1);
}
body main .contenedorServicios .servicios4 {
  grid-area: servicios4;
  transition: all 0.5s ease;
}
body main .contenedorServicios .servicios4:hover {
  transform: scale(1.1, 1.1);
}
body main .contenedorServicios .tituloClientes {
  grid-area: tituloClientes;
}
body main .contenedorServicios .carreteClientes {
  grid-area: carreteClientes;
}
body main .contenedorServicios .carreteClientes .containerLogos {
  overflow: hidden;
}
body main .contenedorServicios .carreteClientes .containerLogos .slider {
  animation: slidein 45s linear infinite;
  white-space: nowrap;
}
body main .contenedorServicios .carreteClientes .containerLogos .slider .logos {
  width: 100%;
  display: inline-block;
  margin: 0px 0;
}
body main .contenedorServicios .carreteClientes .containerLogos .slider .logos .fab {
  width: 50px;
  animation: fade-in 0.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
}
@keyframes slidein {
  from {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body main .contenedorPortfolio {
  width: 100vw;
  height: auto;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-auto-columns: 1fr;
  gap: 5px 5px;
  grid-auto-flow: row;
  grid-template-areas: "img1 img1 img1 txt1" "txt2 img2 img2 img2" "img3 img3 img3 txt3" "txt4 img4 img4 img4";
}
body main .contenedorPortfolio .img1 {
  grid-area: img1;
  transition: all 0.5s ease;
}
body main .contenedorPortfolio .img1:hover {
  transform: scale(1.05, 1.05);
}
body main .contenedorPortfolio .img1 .pf {
  width: 80%;
  border-radius: 1rem;
  margin: 30px;
}
body main .contenedorPortfolio .txt1, body main .contenedorPortfolio .txt4, body main .contenedorPortfolio .txt3, body main .contenedorPortfolio .txt2 {
  grid-area: txt1;
  text-align: right;
  display: flex;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
}
body main .contenedorPortfolio .txt2 {
  grid-area: txt2;
  text-align: left;
}
body main .contenedorPortfolio .img2 {
  grid-area: img2;
  transition: all 0.5s ease;
}
body main .contenedorPortfolio .img2:hover {
  transform: scale(1.05, 1.05);
}
body main .contenedorPortfolio .img2 .pf {
  width: 80%;
  border-radius: 1rem;
  margin: 20px;
}
body main .contenedorPortfolio .img3 {
  grid-area: img3;
  transition: all 0.5s ease;
}
body main .contenedorPortfolio .img3:hover {
  transform: scale(1.05, 1.05);
}
body main .contenedorPortfolio .img3 .pf {
  width: 80%;
  border-radius: 1rem;
  margin: 20px;
}
body main .contenedorPortfolio .txt3 {
  grid-area: txt3;
  text-align: right;
}
body main .contenedorPortfolio .txt4 {
  grid-area: txt4;
  text-align: left;
}
body main .contenedorPortfolio .img4 {
  grid-area: img4;
  transition: all 0.5s ease;
}
body main .contenedorPortfolio .img4:hover {
  transform: scale(1.05, 1.05);
}
body main .contenedorPortfolio .img4 .pf {
  width: 80%;
  border-radius: 1rem;
  margin: 20px;
}

body main .container .row div div .formulario {
  width: 400px;
  margin: 0 auto;
  padding: 20px;
  font-size: 0.8rem;
}
body main .container .row div div .formulario .colorBoton {
  color: #eeeeee;
  background-color: #2c4913;
  border: #2c4913;
}
body main .container .row div div .formulario .colorBoton:hover {
  color: #eeeeee;
  background-color: #262f35;
}
body main .container .row div div .formulario .colorBoton:active {
  color: #2c4913;
  background-color: #eeeeee;
}

@media screen and (max-width: 480px) {
  body main .contenedorindex {
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.8fr 0.8fr 0.8fr 0.5fr;
    grid-auto-columns: s1fr;
    grid-auto-flow: row;
    grid-template-areas: "titulo" "dato1" "dato2" "dato3" "subtitulo" "opinion";
  }
}
@media screen and (max-width: 480px) {
  body main .contenedorServicios {
    grid-template-areas: "tituloServicios tituloServicios tituloServicios tituloServicios" "servicios1 servicios1 servicios1 servicios1" "servicios2 servicios2 servicios2 servicios2" "servicios3 servicios3 servicios3 servicios3" "servicios4 servicios4 servicios4 servicios4" "img2servicios img2servicios img2servicios img2servicios" "img1servicios img1servicios img1servicios img1servicios" "img3servicios img3servicios img3servicios img3servicios" "tituloClientes tituloClientes tituloClientes tituloClientes" "carreteClientes carreteClientes carreteClientes carreteClientes";
  }
}
@media screen and (max-width: 480px) {
  body main .contenedorPortfolio {
    margin: 10px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 20px;
    grid-auto-flow: row;
    grid-template-areas: "txt1" "img1" "txt2" "img2" "txt3" "img3" "txt4" "img4";
  }
}

/*# sourceMappingURL=estilo.css.map */
