*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #eeeeee;
    font-family: 'Poppins', sans-serif;
    main{
        .iconoWhatsapp{
            position:fixed;
            bottom:20px;
            right:25px;
        }
    }
}
.colorLetra{
    color:#425059;
}
.letraH1{
    font-size: 1.75rem;
    color: #425059;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.letraH2{
    font-size: 1.2rem;
    color: #425059;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}
.letraH3{
    font-size: 1rem;
    color: #425059;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.letraH4{
    font-size: 0.8rem;
    color: #425059;
    font-family: 'Poppins', sans-serif;
}
.letraH5{
    font-size: 1.5rem;
    color: #425059;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}
