body{
    main{
        .contenedorServicios {  
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 0.6fr 1fr 0.7fr 0.7fr 0.6fr 1.4fr;
            grid-auto-columns: 1fr;
            gap: 5px 5px;
            grid-auto-flow: row;
            grid-template-areas:
                "tituloServicios tituloServicios tituloServicios tituloServicios"
                "servicios1 servicios2 servicios3 servicios4"
                "img1servicios img1servicios img2servicios img2servicios"
                "img1servicios img1servicios img3servicios img3servicios"
                "tituloClientes tituloClientes tituloClientes tituloClientes"
                "carreteClientes carreteClientes carreteClientes carreteClientes";
                .tituloServicios { 
                    grid-area: tituloServicios; 
                }
            
                .img2servicios { 
                    grid-area: img2servicios; 
                    
                }
            
                .img3servicios { 
                    grid-area: img3servicios;
                }
            
                .img1servicios { 
                    grid-area: img1servicios;
                    border-radius: 1rem;
                }
                .servicios1 {
                    grid-area: servicios1;
                }
            
                .servicios2 { 
                    grid-area: servicios2; 
                }
            
                .servicios3 { 
                    grid-area: servicios3; 
                }
            
                .servicios4 { 
                    grid-area: servicios4; 
                }
            
                .tituloClientes { 
                    grid-area: tituloClientes; 
                }
                .carreteClientes { 
                    grid-area: carreteClientes;
                    .containerLogos {
                        overflow: hidden;
                        .slider {
                            animation: slidein 45s linear infinite;
                            white-space: nowrap;
                            .logos {
                            width: 100%;
                            display: inline-block;
                            margin: 0px 0;
                            
                            .fab {
                            width: 50px;
                            animation: fade-in 0.5s 
                                cubic-bezier(0.455, 0.03, 0.515, 0.955) forwards;
                            }
                            }
                        }
                    }
                
                        @keyframes slidein {
                        from {
                            transform: translate3d(0, 0, 0);
                        }
                        to {
                            transform: translate3d(-100%, 0, 0);
                        }
                    }
                
                        @keyframes fade-in {
                        0% {
                        opacity: 0;
                        }
                        100% {
                        opacity: 1;
                        }
                    }
                }
            }

    }
}